<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css" />
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
    <body>
        <h1>Hey!! Welcome to your Dashboard</h1>

        <h4>Email of Logged User--> <em><%=email %></em></h2>
        <p><strong>This website is made for commenting your thoughts, sharing love and happiness with mates and write your beautiful memories spent in the college</strong></p>
        
        <div class="btn1"><button class="comment"><a href="//localhost:3000/dashboard/user-list">Go to users</a></button></div> 
        
       
    
       <div class="btn2"><button class="link1"><a href="/logout" >Logout</a></button></div> 



      

    </body>
</html>