<!DOCTYPE html>
<html>
<head>
  
  <title>LOGIN</title>
  <link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>
  <div class="container">
    <form action="/login" method="post">
      <div class="title">Login</div>
      <p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
      <div class="input-box underline">
        <input type="text" placeholder="Enter Your Email" required="" name="email_address">
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Enter Your Password" required="" name="password">
        <div class="underline"></div>
      </div>
      <div class="input-box button">
        <input type="submit" name="" value="Continue">
      </div>
      <div class="login-signup">
        <span class="text">Not a member? </span>
        <a class="text signup-link" href="/register">Signup Now</a>
      </div>
    </form>
  </div>
</body>
</html>
