<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/registration-form.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<div class="registration-form">
    <h1>Registration Form</h1>
    <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p>  
 <form method="post" action="register">
     <div >
       <div><input type="text" placeholder="Name" name="name" required class="form-container"></div>
       <div><input type="text" placeholder="Department" name="department" required class="form-container"></div>  
      <div><input type="email" placeholder="Email Address" name="email_address" required class="form-container"></div>
      <div><input type="text" placeholder="Hostel" name="hostel" class="form-container"></div>
       <div><input type="password" placeholder="Password" name="password" class="form-container"></div>
       <div><input type="password" placeholder="Confirm Password" name="confirm_password" class="form-container" ></div> 
    </div>


    <button type="submit" >Register Now</button>
    <br>
    <div class="login">
      <button><a href="/login">Login</a></button>
    </div>
   
 </form>
</div>
</body>
</html>