*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;


}
.sidebar1{
    width: 30%;
    background-color: rgb(208, 242, 223);
    /* display: inline-block; */
    border: 8px solid white;
    margin: 5% 5% 0% 5%;
    padding: 1%;
    border-radius: 5%;
 }
.table-data{
    background-color: rgb(208, 239, 242);
    width: 70%;
    border: 8px solid white;
    margin:5%;
    padding: 2%;
    border-radius: 5%;
    /* display: inline-block; */
    /* text-align: center; */

}
table{
    background-color: rgb(202, 202, 234);
    border-collapse: collapse;
    /* border: 12px solid black; */
    margin: 5%;
    text-align: center;
}
tr:hover {background-color: coral;}
th{
    color: black;
    height: 40px;
    width: 20%;
    padding: 3%;
}
td{
    height: 30px;
    padding: 2%;
}
.addcomment-heading{
    font-size: 33px;

    margin: 5% auto;
    /* margin-top: 2%; */

    padding: 2%;
}

.input{
    height: 100px;
    width: 150px;
    margin: 4%;

    /* margin-top: 20px; */
    
}
.added-comments{
    color: rgb(0, 0, 0);
    /* margin: 50px ; */
    text-align: center;
    font-size: 40px;
}

body{
    /* background-image: url(comment-page.jpg); */
    background-color: rgb(77, 250, 172);
    background-size: cover;
}
.btn{
    margin-top: 5px;
    text-align: center;
    font-size: 200%;
}
button{
    padding: 10px;
}