*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;


}
table{
    background-color: rgb(202, 202, 234);
    opacity: 0.7;
    width:80%;
    border-collapse: collapse;
    margin: 50px;
   
}
tr:hover {background-color: coral;}
th{
    color: black;
    /* background-color: rgb(40, 147, 147);
    opacity: 0.5; */
    height: 40px;
}
td{
    height: 30px;
}
.addcomment-heading{
    font-size: 50px;
    margin: 40px auto;
    margin-top: 20px;
    text-align: center;
    
}

.input{
    height: 100px;
    width: 150px;
    margin-left: 92px ;
    margin-top: 20px;
    
}
.added-comments{
    color: white;
    margin: 50px ;
    text-align: center;
    font-size: 40px;
}
.addcomment{
    margin: 50px;
    padding: 40px;
    background-color: rgb(147, 170, 162);
    opacity: 0.5;
    border-radius: 10px;
}
body{
    background-image: url(comment-page.jpg);
    background-size: cover;
}