*{
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(223, 223, 223); */
    /* background-image: url(ahmed-ISKYhAfE7IA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: right;
     */

    font-family: 'Roboto', sans-serif
}
body{
   background-image: url(net-img.jpg);
   background-size: cover;
}
h1{

    
    text-align: center;
    padding-bottom: 40px;
    padding-top: 60px;
    /* background-color: rgb(223, 223, 223); */
    font-family: 'Roboto', sans-serif
}
h2{
    color: white;

    margin-left: 10px;
    /* border: 1px solid black; */
    text-align: center;
}
p{
    color: white;
    
    margin: 40px 300px;
    text-align: center;
}

.comment{
    margin-left: 10px;
    padding: 5px;
    margin-top: 30px;
    
}
.link1{
    margin-left: 10px;
    padding: 2px;
    margin-top: 10px;
}
.btn1{
    text-align: center;
}
.btn2{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.heading{
    color: white;
    font-size: 50px; 
}
.about{
    border: 2px solid rgba(207, 241, 148,0.5) ;
    padding: 10px 10px;
    line-height: 25px;  
}