/* *{
    padding: 0px;
    margin: 0px; */
    /* background-image: url(login.jpg);
    background-repeat: no-repeat;
    background-position: center;*/
/* }  */

/* h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif
}
form{
    padding: 10px;
    text-align: center;
}
a{
    padding-bottom: 4px;
    background-color: rgb(202, 209, 245)
}
input{
    background-color: rgb(197, 221, 243);
}

button{
    background-color: rgb(160, 223, 254);
    padding: 3px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.form-container{
    padding: 5px;
}
.login-form{
    border: 1px solid black;
    width: 100px
}
  */


*{
    margin: 0px;
    padding:0px;
    background-image: url(pat-whelen-FFDcZr49Dmw-unsplash\ \(1\).jpg);
    background-repeat: repeat;
    background-position: center; 

    
}
.login-form{
    border: 2px solid black;
    border-radius: 2px;
    margin: 100px 400px;
    /* background-color: beige; */
    text-align: center;
}
h1{
    padding-top: 25px;
    margin-bottom: 20px ;
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
button{
    margin:5px;
}
input{
    padding:5px;
}

::placeholder { 
    color: rgb(44, 34, 34);
    opacity: 1; /* Firefox */
  }