*{
    margin: 0px;
    padding:0px;
    background-image: url(login.jpg);
    background-size: cover;
    
}
.login-form{
    border: 2px solid black;
    border-radius: 2px;
    margin: 100px 400px;
    text-align: center;
}
h1{
    padding-top: 25px;
    margin-bottom: 20px ;
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
button{
    margin:5px;
}
input{
    padding:5px;
}

::placeholder { 
    color: rgb(44, 34, 34);
    opacity: 1; /* Firefox */
  }
