*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
 
}
table{
    background-color: rgb(208, 242, 223);
    border: 8px solid white;
    /* opacity: 0.5; */
    width:100%;
    border-collapse: collapse;
    text-align: center;
    
}
th{
    
    height: 50px;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 2000;
}
td{
    height: 50px;
    font-weight: 2000;
    font-size: 150%;
}
tr:hover {background-color: coral;}

.user-heading{
    /* text-align: center; */
    margin-bottom: 30px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}
.table-data{
    padding: 4% 5% 3% 5%;
}
.btn{
    margin-top: 5px;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(111, 16, 118);
}
button{
    padding: 10px;
    font-size: 200%;
}
body{
    /* background-image: url(img5.png); */
    background-color: rgb(77, 250, 172);
    background-size: cover;
}
h1{
    font-weight: 2000;
    font-size: 300%;
}




