*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
 
}
table{
    background-color: seagreen;
    opacity: 0.6;
    width:100%;
    border-collapse: collapse;
    text-align: center;
}
th{
    
    height: 50px;
    color:white;
    font-size: 20px;
}
td{
    height: 30px;
}
tr:hover {background-color: coral;}

.user-heading{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
    color: white;
}
.table-data{
    padding: 20px;
}
.btn{
    margin-top: 5px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;

   
}
button{
    padding: 10px;
}
body{
    background-image: url(pattern.jpg);
    background-size: cover;
}





